name: Build ESP32 Firmware

on:
  push:
    branches: [ "master", "main" ]
    paths-ignore:
      - '**.md'
  pull_request:
    branches: [ "master", "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Arduino CLI
      uses: arduino/setup-arduino-cli@v1.1.2

    - name: Install ESP32 Platform
      run: |
        arduino-cli config init
        arduino-cli config add board_manager.additional_urls https://espressif.github.io/arduino-esp32/package_esp32_index.json
        arduino-cli core update-index
        arduino-cli core install esp32:esp32

    - name: Install Libraries
      run: |
        mkdir -p $HOME/Arduino/libraries
        # Install Managed Libraries
        arduino-cli lib install ArduinoJson
        
        # Install Manual Libraries (ESPAsyncWebServer & AsyncTCP)
        cd $HOME/Arduino/libraries
        git clone https://github.com/me-no-dev/AsyncTCP.git
        git clone https://github.com/me-no-dev/ESPAsyncWebServer.git

    - name: Compile Sketch
      run: |
        # Using FQBN for ESP32S3 Dev Module
        arduino-cli compile --fqbn esp32:esp32:esp32s3 \
          --output-dir ./build \
          ./Arduino-esp32-serial-flasher.ino

    - name: Upload Firmware Artifact
      uses: actions/upload-artifact@v4
      with:
        name: firmware-esp32s3
        path: |
          build/*.bin
          build/*.elf
